<div class="container mt-5">
    <div class="row">
        <h3 class="col-8">Account Type: <span class="text-success">{{ currentUser.user_role.role_name}}</span></h3>
        <h6 class="col-4">Logged in user: <span class="text-success">{{ currentUser.full_name}}</span></h6>

    </div>

    <div class="row">
        <div *ngIf="users" class="col-12">
            <div *ngFor="let user of users.data" class="list-group" id="list-tab" role="tablist"
                (click)="openUser(user.socket_id)">
                <a *ngIf="user.id != currentUser.id" class="list-group-item list-group-item-action" id="list-home-list"
                    data-bs-toggle="list" role="tab" aria-controls="list-home">
                    <span *ngFor="let onlineUser of onlineUsers; let i=index">
                        <i [ngClass]="onlineUsers.length && onlineUser.id == user.id && onlineUser.is_online == true ? 'fa fa-circle text-success' : ''"
                            aria-hidden="true"></i>

                    </span>
                    {{ user.username }}
                    <!-- <i [ngClass]="user.is_online == true ? 'fa fa-circle text-success' : 'fa fa-circle text-danger'"
                        class="float-right"></i> -->

                </a>
            </div>
        </div>
    </div>
</div>

<p-toast position="bottom-center" key="tl" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>Info</h4>
                <p>Message from Admin</p>
            </div>
        </div>
    </ng-template>
</p-toast>